@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte-titulo: 'Passion one', cursive;
    --fonte-texto: 'Sriracha', cursive;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

header h1 {
    font-family: var(--fonte-titulo);
    font-size: 6vw;
    font-weight: 700;
    font-style: normal;
}

header span.m {
    font-family: var(--fonte-titulo);
    font-size: 8vw;
    font-weight: 700;
    font-style: normal;
}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

main p {
    font-family: var(--fonte-texto);
    line-height: 2em;
    padding: 35px 15px;
    font-size: 3.5vw;
}

p.pimg {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: fit-content;
}

section {
    padding: 60px 25px;
    height: fit-content;
}

section#joaninha {
    background: darkgreen url('../imagens/background001.jpg') center right no-repeat fixed;
    box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.5);
}

section#livro {
    background: wheat url('../imagens/background002.jpg') center center no-repeat fixed;;
}
